{% load static %}
<!DOCTYPE html>
<html class="supports-js supports-no-touch supports-csstransforms supports-csstransforms3d supports-fontface">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- Font ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700">
    <!-- Font ================================================== -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700">
    <!-- Helpers ================================================== -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home Market - Responsive HTML5 theme">
    <meta property="og:image" content="{% static '/assets/images/logo.png' %}">
    <meta property="og:image:secure_url" content="{% static '/assets/images/logo.png' %}">
    <meta property="og:url" content="#">
    <meta property="og:site_name" content="Home Market Red">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSS ================================================== -->
    <link href="{% static 'assets/css/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/swatch.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/timber.scss.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/home_market.global.scss.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/home_market.style.scss.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/tada.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'assets/css/spr.css' %}" rel="stylesheet" type="text/css" media="all">
    <!-- JS ================================================== -->

    <script src="{% static 'assets/js/jquery.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.fancybox.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.tweet.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.optionSelect.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.flexslider-min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.twbsPagination.min.js'%}" type="text/javascript"></script>

</head>